* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $primary-text-color;
  font-size: $primary-font-size;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


input {
  outline: none;
  border: none;
}
